/*
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Banner */

	#banner {
		padding: 0.0em 0;
	}

		#banner h2 {
			font-size: 2.5em;
		}

/* Footer */

	#footer {
		padding: 0em 0;
	}
