        </section>
  </div>
</section>      
  
<!-- Footer -->
<footer id="footer">
  <div class="container">
    <!--div class="row double">
      <div class="6u">
        <div class="row collapse-at-2">
          <div class="6u">
            <h3>Accumsan</h3>
            <ul class="alt">
              <li><a href="#">Nascetur nunc varius</a></li>
              <li><a href="#">Vis faucibus sed tempor</a></li>
              <li><a href="#">Massa amet lobortis vel</a></li>
              <li><a href="#">Nascetur nunc varius</a></li>
            </ul>
          </div>
          <div class="6u">
            <h3>Faucibus</h3>
            <ul class="alt">
              <li><a href="#">Nascetur nunc varius</a></li>
              <li><a href="#">Vis faucibus sed tempor</a></li>
              <li><a href="#">Massa amet lobortis vel</a></li>
              <li><a href="#">Nascetur nunc varius</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="6u">
        <h2>Media</h2>
        <p>Links to media.</p>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
        </ul>
      </div>
    </div-->
    <ul class="copyright">
      <li>&copy; UMD-MIT-USC. All rights reserved.</li>
      <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
